<div>
  <!-- {shoppingcart.map((product) => (
    <ShoppingCartProduct key={product._id} product={product} />
  ))}
  {/*  -->
  <!-- <div v-if="shoppingCart.length < 1" className="cart-item">
    <div className="p-2 d-flex justify-content-center align-items-center">
      <div className="d-flex align-items-center">Din kundvagn är tom.</div>
    </div>
    <div className="dropdown-divider"></div>
  </div> */} -->

  <app-shopping-cart-product
    *ngFor="let item of cart | async"
    [cart]="item"
  ></app-shopping-cart-product>

  <div class="p-2 d-flex justify-content-between align-items-center">
    <div class="ml-2">
      <div class="total-price">
        Totalt:
        <span class="ml-1">totalCartAmount SEK</span>
      </div>
      <small class="text-muted">inkl. moms</small>
    </div>
    <a class="text-white btn-grey btn btn-default" to="/checkout">
      Gå till Kassan
    </a>
  </div>
</div>
